body {
    font-size: 20px;
}

a {
    box-shadow: none;
}

ul {
    padding-left: 24px;
}

pre {
    font-size: 18px;
    background-color: rgba(71, 75, 123, 0.05);
    padding: 20px;
}

code {
    font-size: 18px;
}

.meta {
    color: #808080;
}

.dotDivider {
    padding: 0 .5rem;
}

.dotDivider:after {
    content: '\00B7';
}